
body {
  background: url(/assets/site/mapblue.jpg) no-repeat;
  background-size: cover;
}
div.list {
  color: black;
  float: left;
  margin-right: 30%;
  width: 30%;
}
div.side {
  background-color: grey;
  height: 100%;
  padding: 10px 10px 10px 10px;
  position: fixed;
  right:0; 
  top: 0;
  width: 350px;
}
footer div.search {
  bottom: 0;
  display: block;
  height: 100px;
  position: fixed;
  width: 350px;
}
@font-face {
  font-family: got; 
  src: url(/Game\ of\ Thrones.ttf);
}
h3 {
  text-align: center;
 
}
img.picture {
  max-height:100%;
  max-width:100%;
}
td.bio {
  max-height:100%;
  max-width:100%;
}
td.ikonok {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
}
td.name {
  font-size: x-large;
  font-style:italic;
}
td.nevek {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  transition: .3s ease-in-out;
  width: 1px;
  -webkit-transition: .3s ease-in-out;
}
td.nevek:hover {
  color: red;
  cursor: pointer;
}