div{
  float: left;
}
div.side {
  background-color: grey;
}
div table {
  background: url(/pics/The_Wall_from_the_south.jpg) no-repeat;
}
td.nevek {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  width: 1px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}

td.nevek:hover {
  color: red;
  cursor: pointer;

}

td.ikonok {
  border: 1px solid black;
  block-size: 1cm;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  text-align: center;
}
